@model OnlineShop.Models.Category

@{
    ViewBag.Title = "Edit";
}
@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/admin_styles.css")" />
}
<div class="content-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("Administration Panel", "Index", "Home")</li>
                        <li class="breadcrumb-item">@Html.ActionLink("Categories", "Index", "Category")</li>
                        <li class="breadcrumb-item active" aria-current="page">Edit @Model.name</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <h2>Edit category @Model.name</h2>
        </div>
        <div class="row justify-content-center row-margin-top">
            <div class="col-sm-8">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group row ml-auto">
                        @Html.LabelFor(model => model.name, "Name", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row ml-auto">
                        @Html.Label("category name", "Parent category", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(model => model.parent.Id, new SelectList(ViewBag.CategoriesList, "Id", "name"), "None")
                           @* @Html.ValidationMessageFor(model => model.parent.Id, "", new { @class = "text-danger" })*@
                        </div>
                    </div>

                    <div class="form-group row ml-auto">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default submit-button" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
