@model IEnumerable<OnlineShop.Models.ApplicationUser>

@{
    ViewBag.Title = "Users list";
}
@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/admin_styles.css")" />
}

<div class="admin_panel">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">@Html.ActionLink("Administration Panel", "Index", "Home")</li>
                        <li class="breadcrumb-item active" aria-current="page">Users</li>
                    </ol>
                </nav>
                <div class="row">
                    <div class="col-md-10">
                        <h2>Users</h2>
                    </div>
                    <div class="col-md-2">
                        <h5>
                            @Html.ActionLink("Create new", "Create")
                        </h5>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.imie)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nazwisko)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                    }
                </table>
                <h4>@Html.ActionLink("Send newsletter", "SendEmail")</h4>
            </div>
        </div>
    </div>
</div>
