@model OnlineShop.Models.Order

@using (Html.BeginForm())
{
    
<div class="form-horizontal">
    <h4>Order</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.OrderId)

    @Html.HiddenFor(model => model.FirstName)

    @Html.HiddenFor(model => model.LastName)

    @Html.HiddenFor(model => model.Address)

    @Html.HiddenFor(model => model.City)

    @Html.HiddenFor(model => model.State)

    @Html.HiddenFor(model => model.PostalCode)

    @Html.HiddenFor(model => model.Country)

    @Html.HiddenFor(model => model.Phone)

    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.orderPaymentType)
    @Html.HiddenFor(model => model.orderShippingMethod)


    <div class="form-group">
        @Html.LabelFor(model => model.orderState, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.orderState, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.orderState, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
