@model OnlineShop.Models.ApplicationUser
@{
    ViewBag.Title = "Edit";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/home_styles.css")" />
}

<div class="content-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Edit user <i>@Html.DisplayFor(model => model.UserName)</i></h2>
            </div>
        </div>
        <div class="row justify-content-center row-margin-top">
            <div class="col-sm-8">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.AccessFailedCount)
                    @Html.HiddenFor(model => model.Claims)
                    @Html.HiddenFor(model => model.LockoutEnabled)
                    @Html.HiddenFor(model => model.LockoutEndDateUtc)
                    @Html.HiddenFor(model => model.PasswordHash)
                    @Html.HiddenFor(model => model.SecurityStamp)
                    @Html.HiddenFor(model => model.TwoFactorEnabled)
                    @Html.HiddenFor(model => model.Logins)
                    @Html.HiddenFor(model => model.EmailConfirmed)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group row ml-auto">
                        @Html.LabelFor(model => model.UserName, "Username", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row ml-auto">
                        @Html.LabelFor(model => model.imie, "First name", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.imie, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.imie, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row ml-auto">
                        @Html.LabelFor(model => model.Nazwisko, "Last name", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Nazwisko, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Nazwisko, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row ml-auto">
                        @Html.LabelFor(model => model.Adres, "Address", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Adres, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Adres, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row ml-auto">
                        @Html.LabelFor(model => model.miasto, "City", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.miasto, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.miasto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row ml-auto">
                        @Html.LabelFor(model => model.Województwo, "State/Voivodeship/Province", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Województwo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Województwo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row ml-auto">
                        @Html.LabelFor(model => model.kod_pocztowy, "Postal code", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.kod_pocztowy, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.kod_pocztowy, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row ml-auto">
                        @Html.LabelFor(model => model.Kraj, "Country", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Kraj, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Kraj, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row ml-auto">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row ml-auto">
                        @Html.LabelFor(model => model.PhoneNumber, "Phone number", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row ml-auto">
                        @Html.LabelFor(model => model.Ograniczeni, "Products per page", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.EditorFor(model => model.Ograniczeni, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Ograniczeni, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row ml-auto">
                        <label class="control-label col-md-4"> Password </label>
                        <div class="col-md-8">
                            <input class="form-control" name="password" type="password" />
                        </div>
                    </div>

                    <div class="form-group row ml-auto">
                        <label class="control-label col-md-4"> Confirm password </label>
                        <div class="col-md-8">
                            <input class="form-control" name="cpassword" type="password" />
                        </div>
                    </div>

                    <div class="form-group row ml-auto">
                        <div class="col-md-1">
                            @Html.EditorFor(model => model.newsletter, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.newsletter, "", new { @class = "text-danger" })
                        </div><label class="control-label col-md-10"><i style="margin-left:15px;">I want to receive newsletters and special offer notices from Techtonics</i></label>

                    </div>


                    <div class="col-md-12">
                        <div class="submit-changes" style="float: right;">
                            <button type="submit" class="btn btn-default submit-button">
                               Save
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
