@model OnlineShop.Models.ApplicationUser

@{
    ViewBag.Title = "profil";
}

<h2>profil</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwisko)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.miasto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.miasto)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Województwo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Województwo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kod_pocztowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kod_pocztowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kraj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kraj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.newsletter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.newsletter)
        </dd>








    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit_profil") 
  
</p>
