<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techtronics | @ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/Content/shared_styles.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="super_container">

        <!-- Header -->
        <header class="header">
            <!-- Top Bar -->
            <div class="top_bar">
                <div class="container">
                    <div class="row">
                        <div class="col d-flex flex-row">
                            <div class="top_bar_contact_item"><div class="top_bar_icon"><i class="material-icons md-24">mail_outline</i></div><a href="mailto:techtronics.contact@gmail.com">techtronics.contact@gmail.com</a></div>
                            <div class="top_bar_content ml-auto">
                                <div class="top_bar_menu">
                                    <ul class="standard_dropdown top_bar_dropdown">
                                        @*<li>
                                                <a href="#">English<i class="fas fa-chevron-down"></i></a>
                                                <ul>
                                                    <li><a href="#">Italian</a></li>
                                                    <li><a href="#">Spanish</a></li>
                                                    <li><a href="#">Japanese</a></li>
                                                </ul>
                                            </li>*@
                                        <li>
                                            <a href="#">$ US dollar<i class="fas fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="#">EUR Euro</a></li>
                                                <li><a href="#">GBP British Pound</a></li>
                                                <li><a href="#">JPY Japanese Yen</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="top_bar_user">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <div>@Html.ActionLink("Administration Panel", "Index", "Home", new { area = "Admin" }, null)</div>
                                    }
                                    <div class="user_icon"><i class="material-icons md-24">person_outline</i></div>
                                    @if (Request.IsAuthenticated)
                                    {   
                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>

                                        }
                                    }
                                    else
                                    {
                                        <div>@Html.ActionLink("Register", "Register", "Account")</div>
                                        <div>@Html.ActionLink("Sign in", "Login", "Account")</div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Main -->

            <div class="header_main">
                <div class="container">
                    <div class="row">

                        <!-- Logo -->
                        <div class="col-lg-3 col-sm-3 col-3 order-1">
                            <div class="logo_container">
                                <div class="logo">@Html.ActionLink("Techtronics", "Index", "Home", new { area = "" }, null)</div>
                            </div>
                        </div>

                        <!-- Search -->
                        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                            <div class="header_search">
                                <div class="header_search_content">
                                    <div class="header_search_form_container">
                                        <form action="#" class="header_search_form clearfix">
                                            <input type="search" required="required" class="header_search_input" placeholder="Search for products...">
                                            <button type="submit" class="header_search_button trans_300" value="Submit"><i class="material-icons md-24 md-light">search</i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Cart -->
                        @using Microsoft.AspNet.Identity
                        @if (Request.IsAuthenticated)
                        {
                            <div class="col-lg-3 col-9 order-lg-3 order-2 text-lg-left text-right">
                                <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                                    <div class="cart">
                                        <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                            <div class="cart_icon">
                                                <i class="material-icons md-48">shopping_cart</i>
                                                @*<div class="cart_count"><span>shopping cart count</span></div>*@
                                            </div>
                                            <div class="cart_content">
                                                <div class="cart_text"><a href="#">Cart</a></div>
                                                @*<div class="cart_price">$85<div*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <!-- Main Navigation -->

            <nav class="main_nav">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <div class="main_nav_content d-flex flex-row">

                                <!-- Categories Menu -->

                                <div class="cat_menu_container">
                                    <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                                        <div class="cat_burger"><i class="material-icons md-light">shopping_basket</i></div>
                                        <div class="cat_menu_text">@Html.ActionLink("STORE", "Index", "Products", new { area = "" }, null)</div>
                                    </div>
                                </div>

                                <!-- Main Nav Menu -->

                                <div class="main_nav_menu ml-auto">
                                    <ul class="standard_dropdown main_nav_dropdown">
                                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                                        <li>
                                            @Html.ActionLink("New products", "Index", "Products", new { area = "" }, null)
                                        </li>
                                        <li>
                                            @Html.ActionLink("Sale", "Index", "Products", new { area = "" }, null)
                                        </li>
                                        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                                    </ul>
                                </div>

                                <!-- Menu Trigger -->

                                <div class="menu_trigger_container ml-auto">
                                    <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                        <div class="menu_burger">
                                            <div class="menu_trigger_text">menu</div>
                                            <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </nav>

        </header>
        @RenderBody()

        <!--- Footer --->
        <footer class="footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 footer_col">
                        <div class="footer_column footer_contact">
                            <div class="logo_container">
                                <div class="logo"><a href="#">Techtronics</a></div>
                            </div>
                            <div class="footer_title">Got question? Contact us</div>
                            <div class="footer_phone">techtronics.contact@gmail.com</div>
                            <div class="footer_contact_text">
                                <p>ul. Wiejska 45A</p>
                                <p>15-351 Białystok </p>
                            </div>
                            <div class="footer_social">
                                <ul>
                                    <li><a href="https://github.com/urnooblem/online-shop"><img src="@Url.Content("~/Content/Images/github-brands.svg")" /></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 ml-auto">
                        <div class="footer_column">
                            <div class="footer_title">Customer Care</div>
                            <ul class="footer_list">
                                <li>@Html.ActionLink("My Account", "Index", "Home", new { area = "" }, null)</li>
                                <li><a href="#">My Orders</a></li>
                                <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, null)</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <!-- Copyright -->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                            <div class="copyright_content">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;@DateTime.Now.Year All rights reserved | This template is made with <i class="material-icons md-18">favorite</i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
</body>
</html>
