@model OnlineShop.ViewModels.ShoppingCartViewModel

@{
    ViewBag.Title = "Twój koszyk";
}

<h3>Twój koszyk</h3>

<p class="button">
    @Html.ActionLink("Do kasy >>", "AddressAndPayment", "Checkout")
</p>
<div id="update-message"></div>
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Opis
        </th>
        <th>
            Cena
        </th>
        <th>
            Ilość
        </th>
    </tr>

    @foreach (var item in Model.CartItems)
    {
    <tr id="row-c">
        <td>
            @Html.ActionLink(item.Product.name, "Details", "Products", new { id = item.ProductId }, null)
        </td>
        <td>
            @item.Product.name
        </td>
        <td>
            @item.Product.price
        </td>
        <td id="item-count-@item.RecordId">
            @item.Count
        </td>
        <td>
             @Html.ActionLink("Usuń","RemoveFromCart","ShoppingCart",new { id = item.RecordId },null)
        </td>
    </tr>
    }

    <tr>
        <td>
            <p>Suma:</p>
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>

