@model OnlineShop.Models.Product
@section scripts
{
    <script src="@Url.Content("~/Scripts/qty-input.js")"></script>
}
@{
    ViewBag.Title = "Details";
}

<div class="content-container">
    <div class="row">
        <ul class="breadcrumb">
            <li>@Html.ActionLink("HOME", "Index", "Home")</li>
            <li>@Html.ActionLink("STORE", "Index", "Products")</li>
            @*@foreach (var category in @Model.cat_pro)
            {
                <li>category.name</li>
            }*@
            <li>@Model.cat_pro.name</li>

            <li class="active">@Html.DisplayFor(modelItem => @Model.name)</li>
        </ul>
    </div>
    <div class="row details-row">

        <div class="col-sm-12 col-lg-5 text-center">
            @{

                if (!Model.image.ContainsKey("normal"))
                {
                    <img class="img-responsive" src="https://via.placeholder.com/500x500.png?text=Product+details+img" width="500" height="500" />
                }
                else
                {
                    <img class="img-responsive" src=@(Model.image["normal"]) width="500" height="500" />
                    <img class="img-responsive" src=@(Model.image["smaller"])  />
                }

            }
            @{
                for (int i = 0; i < Model.files.Count; i++)
                {
                    List<Object> collection = new List<Object>((IEnumerable<Object>)Model.files[i]);
                    String file = (String)collection[0];
                    if (Model.files[i] is IEnumerable<String>)
                    {

                        var enumerator = ((IEnumerable<String>)Model.files[i]).GetEnumerator();
                        while (enumerator.MoveNext())
                        {
                            //list2.Add(enumerator.Current);
                        }
                    }


                    @Html.ActionLink("Click here to download", "DownloadFile", new { list = file, id = Model.Id });
                }
            }
        </div>
        <div class="col-sm-12 col-lg-7 justify-content-center">
            <div class="details-content">
                <div class="product-name">
                    <h2>@Html.DisplayFor(modelItem => @Model.name)</h2>
                    <a class="btn btn-default" href='@Url.Action("Edit", "Products", new { id = Model.Id})'>
                        <span class="glyphicon glyphicon-pencil" style="margin-right: 12px;"></span>Edit details
                    </a>
                    <div style="clear:both;"></div>

                </div>
                <div class="product-price"><h3>@Html.DisplayFor(modelItem => @Model.price) PLN</h3></div>
                <div class="product-availability">@*tu dostępność w magazynie*@</div>
                <div class="product-description">
                    @Html.Raw(Model.description)
                </div>
                @using (Html.BeginForm("Details", "Products"))
                { 
                    <div class="qty">
                        <h4>Qty: </h4>
                    </div>
                    <div class="input-group qty-input">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-left-minus btn btn-default btn-number" data-type="minus" data-field="">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                        </span>
                        <input type="text" id="quantity" name="quantity" class="form-control input-number" value="1" min="1" max="100">
                        <span class="input-group-btn">
                            <button type="button" class="quantity-right-plus btn btn-default btn-number" data-type="plus" data-field="">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                    <div style="clear:both;"></div>
                    <button type="submit" class="btn btn-default">Add to Cart</button>
                }


            </div>
        </div>

    </div>
</div>
