@model IEnumerable<OnlineShop.Models.Product>

@section styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/admin_styles.css")" />
}

@if (User.IsInRole("Admin"))
{
    <div class="admin_panel">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h2> Products</h2>
                    <h4>
                        @Html.ActionLink("Create New", "Create")
                    </h4>
                    <table class="table">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Category
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.name, "Details", "Products", new { id = item.Id }, null)
                                </td>
                                <td>
                                    @Html.Raw(item.description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cat_pro.name)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
    
}